<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
<table id="m_8581014273424813518m_2526904782626651306outer" width="100%" cellspacing="0" cellpadding="28" border="0">
	<tbody>
		<tr style="font-family:Arial,Helvetica,Verdana,sans-serif;font-size:11px">
			<td align="center" width="100%" style="padding-left:0;padding-right:0;margin-top:0;margin-bottom:0;color:#000000;line-height:1.36">
				<table id="m_8581014273424813518m_2526904782626651306wrapper" width="700" cellspacing="0" cellpadding="0" border="0">
					<tbody>
						<tr style="font-family:Arial,Helvetica,Verdana,sans-serif;font-size:11px">
							<td width="700" style="margin-top:0;margin-bottom:0;color:#000000;line-height:1.36">
								<table id="m_8581014273424813518m_2526904782626651306top" width="700" cellspacing="0" cellpadding="0" border="0" style="padding-bottom:11px">
									<tbody>
										<tr style="font-family:Arial,Helvetica,Verdana,sans-serif;font-size:11px">
											<td width="150" style="margin-top:0;margin-bottom:0;color:#000000;line-height:1.36">&nbsp;</td>
											<td width="400" align="center" style="margin-top:0;margin-bottom:0;color:#000000;line-height:1.36">
												<a href="http://www2.hm.com/" class="m_8581014273424813518m_2526904782626651306logotype-link" style="color:#000000" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=ru&amp;q=http://www2.hm.com/&amp;source=gmail&amp;ust=1495487387799000&amp;usg=AFQjCNG_IadQehtBxYfUtmjx8H_Y9fLxkw">
													<img src="https://ci3.googleusercontent.com/proxy/aKHDS3kKDFi1A30tywrNN8IyzFO_0Ax5aYKmOQWN8eNiR39fJGferrzjV_-LWD6QieHoCV6TMKn6n1jTDJOvdliiUk-qTjluOmGXEsl7YA=s0-d-e1-ft#http://www2.hm.com/_ui/assets/desktop/images/logotype.png" alt="H&amp;M" title="H&amp;M" width="76" height="50" style="display:block;border:none" class="CToWUd"></a>
											</td>
											<td width="150" align="center" class="m_8581014273424813518m_2526904782626651306read-in-browser" style="margin-top:0;margin-bottom:0;color:#939393;line-height:1.36;text-decoration:none;font-size:10px"></td>
										</tr>
									</tbody>
								</table>
								<table id="m_8581014273424813518m_2526904782626651306header" width="700" cellspacing="0" cellpadding="0" border="0" style="border-bottom:1px solid #c8c8c8">
									<tbody>
										<tr style="font-family:Arial,Helvetica,Verdana,sans-serif;font-size:11px">
											<td align="center" width="700" style="margin-top:0;margin-bottom:0;color:#000000;line-height:1.36">
												<table id="m_8581014273424813518m_2526904782626651306header-inner" width="670" cellspacing="0" cellpadding="16" border="0" class="m_8581014273424813518m_2526904782626651306outer" style="padding:0 0 16px 0">
													<tbody>
														<tr style="font-family:Arial,Helvetica,Verdana,sans-serif;font-size:11px;text-align:center;display:block">
															<td width="90" style="margin-top:0;margin-bottom:0;color:#000000;line-height:1.36;display:inline-block;width:auto;padding:16px 16px 0 16px;text-align:center">
																<a href="http://www2.hm.com/en_gb/" class="m_8581014273424813518m_2526904782626651306header-link" style="color:#000!important;font-weight:bold;font-size:12px;text-decoration:none;letter-spacing:1px;white-space:nowrap;text-transform:uppercase" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=ru&amp;q=http://www2.hm.com/en_gb/&amp;source=gmail&amp;ust=1495487387799000&amp;usg=AFQjCNFWpiMtBwJxx47LTRHEWJhdjoYoag">
																	<span style="color:#000000">LADIES</span>
																</a>
															</td>
															<td width="90" style="margin-top:0;margin-bottom:0;color:#000000;line-height:1.36;display:inline-block;width:auto;padding:16px 16px 0 16px;text-align:center">
																<a href="http://www2.hm.com/en_gb/" class="m_8581014273424813518m_2526904782626651306header-link" style="color:#000!important;font-weight:bold;font-size:12px;text-decoration:none;letter-spacing:1px;white-space:nowrap;text-transform:uppercase" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=ru&amp;q=http://www2.hm.com/en_gb/&amp;source=gmail&amp;ust=1495487387799000&amp;usg=AFQjCNFWpiMtBwJxx47LTRHEWJhdjoYoag">
																	<span style="color:#000000">MEN</span>
																</a>
															</td>
															<td width="90" style="margin-top:0;margin-bottom:0;color:#000000;line-height:1.36;display:inline-block;width:auto;padding:16px 16px 0 16px;text-align:center">
																<a href="http://www2.hm.com/en_gb/" class="m_8581014273424813518m_2526904782626651306header-link" style="color:#000!important;font-weight:bold;font-size:12px;text-decoration:none;letter-spacing:1px;white-space:nowrap;text-transform:uppercase" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=ru&amp;q=http://www2.hm.com/en_gb/&amp;source=gmail&amp;ust=1495487387799000&amp;usg=AFQjCNFWpiMtBwJxx47LTRHEWJhdjoYoag">
																	<span style="color:#000000">KIDS</span>
																</a>
															</td>
															<td width="90" style="margin-top:0;margin-bottom:0;color:#000000;line-height:1.36;display:inline-block;width:auto;padding:16px 16px 0 16px;text-align:center">
																<a href="http://www2.hm.com/en_gb/" class="m_8581014273424813518m_2526904782626651306header-link" style="color:#000!important;font-weight:bold;font-size:12px;text-decoration:none;letter-spacing:1px;white-space:nowrap;text-transform:uppercase" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=ru&amp;q=http://www2.hm.com/en_gb/&amp;source=gmail&amp;ust=1495487387799000&amp;usg=AFQjCNFWpiMtBwJxx47LTRHEWJhdjoYoag">
																	<span style="color:#000000">HOME</span>
																</a>
															</td>
															<td width="90" style="margin-top:0;margin-bottom:0;color:#000000;line-height:1.36;display:inline-block;width:auto;padding:16px 16px 0 16px;text-align:center">
																<a href="http://www2.hm.com/en_gb/" class="m_8581014273424813518m_2526904782626651306header-link" style="color:#000!important;font-weight:bold;font-size:12px;text-decoration:none;letter-spacing:1px;white-space:nowrap;text-transform:uppercase" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=ru&amp;q=http://www2.hm.com/en_gb/&amp;source=gmail&amp;ust=1495487387799000&amp;usg=AFQjCNFWpiMtBwJxx47LTRHEWJhdjoYoag">
																	<span style="color:#000000">MAGAZINE</span>
																</a>
															</td>
															<td width="90" style="margin-top:0;margin-bottom:0;color:#000000;line-height:1.36;display:inline-block;width:auto;padding:16px 16px 0 16px;text-align:center">
																<a href="http://www2.hm.com/en_gb/" class="m_8581014273424813518m_2526904782626651306header-link" style="color:#000!important;font-weight:bold;font-size:12px;text-decoration:none;letter-spacing:1px;white-space:nowrap;text-transform:uppercase" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=ru&amp;q=http://www2.hm.com/en_gb/&amp;source=gmail&amp;ust=1495487387799000&amp;usg=AFQjCNFWpiMtBwJxx47LTRHEWJhdjoYoag">
																	<span style="color:#000000">MY H&amp;M</span>
																</a>
															</td>
															<td width="130" style="margin-top:0;margin-bottom:0;color:#000000;line-height:1.36;display:inline-block;width:auto;padding:16px 16px 0 16px;text-align:center">
																<a href="http://www2.hm.com/en_gb/" class="m_8581014273424813518m_2526904782626651306header-link" style="color:#000!important;font-weight:bold;font-size:12px;text-decoration:none;letter-spacing:1px;white-space:nowrap;text-transform:uppercase" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=ru&amp;q=http://www2.hm.com/en_gb/&amp;source=gmail&amp;ust=1495487387799000&amp;usg=AFQjCNFWpiMtBwJxx47LTRHEWJhdjoYoag">
																	<span style="color:#000000">CUSTOMER SERVICE</span>
																</a>
															</td>
														</tr>
													</tbody>
												</table>
											</td>
										</tr>
									</tbody>
								</table>

								<table width="700" cellspacing="0" cellpadding="54" border="0">
									<tbody>
										<tr style="font-family:Arial,Helvetica,Verdana,sans-serif;font-size:11px">
											<td width="700" align="center" style="margin-top:0;margin-bottom:0;color:#000000;line-height:1.36">
												<table id="m_8581014273424813518m_2526904782626651306intro" class="m_8581014273424813518m_2526904782626651306text" width="500" cellspacing="0" cellpadding="0" border="0">
													<tbody>
														<tr style="font-family:Arial,Helvetica,Verdana,sans-serif;font-size:11px">
															<td align="center" width="500" style="margin-top:0;margin-bottom:0;color:#000000;line-height:1.36">
																<h1 style="margin-top:0;margin-bottom:0;padding-bottom:11px;font-family:Arial,Helvetica,Verdana,sans-serif;font-size:46px;font-weight:bold;line-height:40px;color:#000000;text-transform:uppercase">Hi KachurVolodymyr</h1>
															</td>
														</tr>
														<tr style="font-family:Arial,Helvetica,Verdana,sans-serif;font-size:11px">
															<td align="center" width="500" style="margin-top:0;margin-bottom:0;color:#000000;line-height:1.36">
																<p style="margin-top:0;margin-bottom:0;color:#000000;line-height:1.36;padding-bottom:4px">
																	Thank you for shopping at H&amp;M.
	We have received your order and will contact you when your parcel has been dispatched.
    Below is your order information.
																</p>
															</td>
														</tr>
													</tbody>
												</table>
											</td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
					</tbody>
				</table>
				<table class="m_8581014273424813518m_2526904782626651306headline-table" width="700" cellspacing="0" cellpadding="0" border="0" style="border-top:1px solid #c8c8c8;border-bottom:1px solid #c8c8c8;background-color:#f8f8f8">
					<tbody>
						<tr style="font-family:Arial,Helvetica,Verdana,sans-serif;font-size:11px">
							<td width="30" style="margin-top:0;margin-bottom:0;color:#000000;line-height:1.36;padding-top:14px;padding-bottom:12px">&nbsp;</td>
							<td width="670" class="m_8581014273424813518m_2526904782626651306headline" align="left" style="margin-top:0;margin-bottom:0;color:#000000;line-height:1;font-size:16px;font-weight:bold;text-transform:uppercase;padding-top:14px;padding-bottom:12px">YOUR DETAILS</td>
						</tr>
					</tbody>
				</table>
				<table width="700" cellspacing="0" cellpadding="20" border="0">
					<tbody>
						<tr style="font-family:Arial,Helvetica,Verdana,sans-serif;font-size:11px">
							<td width="660" align="left" style="margin-top:0;margin-bottom:0;color:#000000;line-height:1.36">
								<table width="660" cellspacing="0" cellpadding="0" border="0">
									<tbody>
										<tr style="font-family:Arial,Helvetica,Verdana,sans-serif;font-size:11px">
											<td width="10" class="m_8581014273424813518m_2526904782626651306user-data" valign="top" style="margin-top:0;margin-bottom:0;color:#000000;line-height:17px">&nbsp;</td>
											<td width="320" class="m_8581014273424813518m_2526904782626651306user-data" valign="top" style="margin-top:0;margin-bottom:0;color:#000000;line-height:17px"> <strong style="font-weight:bold;text-transform:uppercase">ORDER NUMBER</strong>
												<br>
												278981340
												<br>
												<br class="m_8581014273424813518m_2526904782626651306user-data-separator" style="line-height:19px"> <strong style="font-weight:bold;text-transform:uppercase">ORDER DATE</strong>
												<br>
												20 May 2017
												<br>
												<br class="m_8581014273424813518m_2526904782626651306user-data-separator" style="line-height:19px">
												<strong style="font-weight:bold;text-transform:uppercase">NAME</strong>
												<br>
												KachurVolodymyr AlenLazutkina
												<br>
												<br class="m_8581014273424813518m_2526904782626651306user-data-separator" style="line-height:19px">
												<strong style="font-weight:bold;text-transform:uppercase">EMAIL</strong>
												<br>
												<span class="m_8581014273424813518m_2526904782626651306username" style="text-decoration:none!important;color:#000!important">
													<a href="mailto:bezrylavlada@gmail.com" target="_blank">bezrylavlada@gmail.com</a>
												</span>
												<br>
												<br class="m_8581014273424813518m_2526904782626651306user-data-separator" style="line-height:19px">
												<strong style="font-weight:bold;text-transform:uppercase">PAYMENT METHOD</strong>
												<br>VISA&nbsp;************9686</td>
											<td width="330" class="m_8581014273424813518m_2526904782626651306user-data" valign="top" style="margin-top:0;margin-bottom:0;color:#000000;line-height:17px">
												<strong style="font-weight:bold;text-transform:uppercase">HOME ADDRESS</strong>
												<br>
												KachurVolodymyr AlenLazutkina
												<br>
												21 Victoria Road
												<br>
												SS15 6AW&nbsp;Basildon
												<br>
												United Kingdom
												<br>
												<br class="m_8581014273424813518m_2526904782626651306user-data-separator" style="line-height:19px">
												<strong style="font-weight:bold;text-transform:uppercase">DELIVERY METHOD</strong>
												<br>
												Standard delivery
												<br>
												<br class="m_8581014273424813518m_2526904782626651306user-data-separator" style="line-height:19px">
												<strong style="font-weight:bold;text-transform:uppercase">DELIVERY ADDRESS</strong>
												<br>
												KachurVolodymyr AlenLazutkina
												<br>
												21 Victoria Road
												<br>
												SS15 6AW&nbsp;Basildon
												<br>
												United Kingdom
												<br></td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
					</tbody>
				</table>

				<table class="m_8581014273424813518m_2526904782626651306headline-table" width="700" cellspacing="0" cellpadding="0" border="0" style="border-top:1px solid #c8c8c8;border-bottom:1px solid #c8c8c8;background-color:#f8f8f8">
					<tbody>
						<tr style="font-family:Arial,Helvetica,Verdana,sans-serif;font-size:11px">
							<td width="30" style="margin-top:0;margin-bottom:0;color:#000000;line-height:1.36;padding-top:14px;padding-bottom:12px">&nbsp;</td>
							<td width="320" valign="top" class="m_8581014273424813518m_2526904782626651306headline" align="left" style="margin-top:0;margin-bottom:0;color:#000000;line-height:1;font-size:16px;font-weight:bold;text-transform:uppercase;padding-top:14px;padding-bottom:12px">ORDER SUMMARY</td>
							<td width="320" align="left" style="margin-top:0;margin-bottom:0;color:#000000;line-height:1.36;padding-top:14px;padding-bottom:12px;font-weight:bold">
								DELIVERY 2-3  days
								<br></td>
							<td width="30" style="margin-top:0;margin-bottom:0;color:#000000;line-height:1.36;padding-top:14px;padding-bottom:12px">&nbsp;</td>
						</tr>
					</tbody>
				</table>

				<table class="m_8581014273424813518m_2526904782626651306items-table" width="700" cellspacing="0" cellpadding="7" border="0" style="text-align:right">
					<tbody>
						<tr style="font-family:Arial,Helvetica,Verdana,sans-serif;font-size:10px">
							<th width="9" class="m_8581014273424813518m_2526904782626651306item-table-padding" align="left" valign="middle" style="width:9px;border-bottom:1px solid #c8c8c8;padding-top:12px;padding-bottom:12px;text-align:left;font-weight:bold;text-transform:uppercase">&nbsp;</th>
							<th align="left" valign="middle" style="border-bottom:1px solid #c8c8c8;padding-top:12px;padding-bottom:12px;text-align:left;font-weight:bold;text-transform:uppercase">ART. NO.</th>
							<th align="left" valign="middle" style="border-bottom:1px solid #c8c8c8;padding-top:12px;padding-bottom:12px;text-align:left;font-weight:bold;text-transform:uppercase">DESC.</th>
							<th align="left" valign="middle" style="border-bottom:1px solid #c8c8c8;padding-top:12px;padding-bottom:12px;text-align:left;font-weight:bold;text-transform:uppercase">SIZE</th>
							<th align="left" valign="middle" style="border-bottom:1px solid #c8c8c8;padding-top:12px;padding-bottom:12px;text-align:left;font-weight:bold;text-transform:uppercase">COLOUR</th>
							<th align="left" valign="middle" style="border-bottom:1px solid #c8c8c8;padding-top:12px;padding-bottom:12px;text-align:left;font-weight:bold;text-transform:uppercase">QTY.</th>
							<th width="65" align="left" valign="middle" style="border-bottom:1px solid #c8c8c8;padding-top:12px;padding-bottom:12px;text-align:left;font-weight:bold;text-transform:uppercase">PRICE</th>
							<th width="65" align="left" valign="middle" style="border-bottom:1px solid #c8c8c8;padding-top:12px;padding-bottom:12px;text-align:left;font-weight:bold;text-transform:uppercase">DISCOUNT</th>
							<th class="m_8581014273424813518m_2526904782626651306item-price" align="right" valign="middle" style="border-bottom:1px solid #c8c8c8;padding-top:12px;padding-bottom:12px;text-align:right;font-weight:bold;text-transform:uppercase">PRICE AFTER DISCOUNT</th>
							<th width="9" class="m_8581014273424813518m_2526904782626651306item-table-padding" align="left" valign="middle" style="width:9px;border-bottom:1px solid #c8c8c8;text-transform:uppercase;padding-top:12px;padding-bottom:12px;text-align:left;font-weight:bold">&nbsp;</th>
						</tr>
						<% if @order.orders_product_data %>
							<% @order.orders_product_data.each do |opd| %>
								<% if opd and  opd.product_datum%>
									<tr style="font-family:Arial,Helvetica,Verdana,sans-serif;font-size:10px">
										<td width="9" class="m_8581014273424813518m_2526904782626651306item-table-padding" align="left" valign="middle" style="margin-top:0;margin-bottom:0;color:#000000;line-height:1.36;width:9px;border-bottom:1px solid #c8c8c8">&nbsp;</td>
										<td align="left" valign="middle" style="margin-top:0;margin-bottom:0;color:#000000;line-height:1.36;border-bottom:1px solid #c8c8c8"><%=opd.product_datum.article%></td>
										<td align="left" valign="middle" style="margin-top:0;margin-bottom:0;color:#000000;line-height:1.36;border-bottom:1px solid #c8c8c8"><%=opd.product_datum.product.name%></td>
										<td align="left" valign="middle" style="margin-top:0;margin-bottom:0;color:#000000;line-height:1.36;border-bottom:1px solid #c8c8c8"><%=opd.product_size.size%></td>
										<td align="left" valign="middle" style="margin-top:0;margin-bottom:0;color:#000000;line-height:1.36;border-bottom:1px solid #c8c8c8"><%=opd.product_datum.color.name%></td>
										<td align="left" valign="middle" style="margin-top:0;margin-bottom:0;color:#000000;line-height:1.36;border-bottom:1px solid #c8c8c8"><%= opd.count %></td>
										<td align="left" valign="middle" style="margin-top:0;margin-bottom:0;color:#000000;line-height:1.36;border-bottom:1px solid #c8c8c8"><%=opd.product_datum.get_price%> Грн</td>
										<td align="left" valign="middle" style="margin-top:0;margin-bottom:0;color:#000000;line-height:1.36;border-bottom:1px solid #c8c8c8">
										<%if opd.product_datum.get_promotional_price %>
											<%=opd.product_datum.get_promotional_price-opd.product_datum.get_price%> Грн
										<%else%>
											&nbsp;
										<%end%>
										</td>
										<td class="m_8581014273424813518m_2526904782626651306item-price" align="right" valign="middle" style="margin-top:0;margin-bottom:0;color:#000000;line-height:1.36;border-bottom:1px solid #c8c8c8;text-align:right"><%=opd.product_datum.get_promotional_price||opd.product_datum.get_price %> Грн</td>
										<td width="9" class="m_8581014273424813518m_2526904782626651306item-table-padding" align="left" valign="middle" style="margin-top:0;margin-bottom:0;color:#000000;line-height:1.36;width:9px;border-bottom:1px solid #c8c8c8">&nbsp;</td>
									</tr>
								<%end%>
							<%end%>
						<%end%>	

					</tbody>
				</table>

				<br class="m_8581014273424813518m_2526904782626651306table-separator" style="line-height:20px">

				<table width="700" cellspacing="0" cellpadding="0" border="0">
					<tbody>
						<tr style="font-family:Arial,Helvetica,Verdana,sans-serif;font-size:11px">
							<td width="390" style="margin-top:0;margin-bottom:0;color:#000000;line-height:1.36">&nbsp;</td>
							<td width="285" align="left" style="margin-top:0;margin-bottom:0;color:#000000;line-height:1.36">
								<table class="m_8581014273424813518m_2526904782626651306total-table" width="285" align="right" cellspacing="0" cellpadding="0" border="0" style="text-transform:uppercase">
									<tbody>
										<tr style="font-family:Arial,Helvetica,Verdana,sans-serif;font-size:11px">
											<td style="margin-top:0;margin-bottom:0;color:#000000;line-height:16px">PRODUCTS TOTAL:</td>
											<td align="right" style="margin-top:0;margin-bottom:0;color:#000000;line-height:16px"><%= @order.sum %> Грн</td>
										</tr>

										<tr style="font-family:Arial,Helvetica,Verdana,sans-serif;font-size:11px">
											<td style="margin-top:0;margin-bottom:0;color:#000000;line-height:16px">DISCOUNTS:</td>
											<td align="right" style="margin-top:0;margin-bottom:0;color:#000000;line-height:16px">-£62.50</td>
										</tr>
										<tr style="font-family:Arial,Helvetica,Verdana,sans-serif;font-size:11px">
											<td style="margin-top:0;margin-bottom:0;color:#000000;line-height:16px;vertical-align:top">DELIVERY:</td>
											<td align="right" style="margin-top:0;margin-bottom:0;color:#000000;line-height:16px;vertical-align:top">FREE</td>
										</tr>
										<tr>
											<td>
												<br></td>
										</tr>
										<tr class="m_8581014273424813518m_2526904782626651306total" style="font-family:Arial,Helvetica,Verdana,sans-serif;font-size:11px">
											<td nowrap="" style="margin-top:0;margin-bottom:0;color:#000000;line-height:16px;border-top:1px solid #c8c8c8;padding-top:11px;font-weight:bold">TOTAL</td>
											<td nowrap="" align="right" style="margin-top:0;margin-bottom:0;color:#000000;line-height:16px;border-top:1px solid #c8c8c8;padding-top:11px;font-weight:bold"><%= @order.sum %> Грн</td>
										</tr>
									</tbody>
								</table>

							</td>
							<td width="25">&nbsp;</td>
						</tr>
					</tbody>
				</table>

				<br class="m_8581014273424813518m_2526904782626651306table-separator" style="line-height:20px">

				<br class="m_8581014273424813518m_2526904782626651306table-separator" style="line-height:40px">
				<table width="700" cellspacing="0" cellpadding="0" border="0">
					<tbody>
						<tr>
							<td width="390" align="center">
								<table align="center" width="390" cellspacing="0" cellpadding="0" border="0">
									<tbody>
										<tr>
											<td width="390" align="center">
												<strong>BARCODE FOR RETURN IN STORE</strong>
											</td>
										</tr>
										<tr>
											<td width="390" align="center">
												<img width="390" height="66" src="https://ci4.googleusercontent.com/proxy/0wu0hI09CmOeC4w2XbAcbHW_Sl8dnzNCoHDVaGhRTWDv2O5Y8f8gxZ-zHlnkhbjHNgkmijAuHaRfYnM2QyahONO6oZ9bHwxFNpTso8r1HYY2E2QUYesQtyumylD3tme5AzhdoXTYEEMjD2mUgP6-WRaI5uiaeVMlHn_-LLgCFD3jIjd1Ir5LXDYkbCHz7fYWpt4HON-4aEWohLFLKGvDkSy2U8EKwzPiEathA10g7e7BfCmRhcZMDy7_WttNriVs2usNaqjzpj2RAFdUk7Vo97xbW1mh_HGq8mHQNWNdtQUm3Z9aIdoLtxBi1VEaoWaono8ExE1WfdTL5lwVf6h8TQQiyaxf0Ct2xc6V7I2Y-WaZLsBMr5FeXYUw=s0-d-e1-ft#http://www2.hm.com/medias/20170520084478981340?context=bWFzdGVyfGludGVybGVhdmVkYmFyY29kZXN8MTEzNXxpbWFnZS9wbmd8aW50ZXJsZWF2ZWRiYXJjb2Rlcy9oYzkvaDUxLzE0MTM2NDkwMTk3MDIyLnBuZ3w2NDBjMTA2NWQ5ZDA3MmE5YjNkNDZkMTYxYzI3MmU2YTU3NTRiZmU4YTE2OWRhZjk0Y2RhZDA2YTY3N2ViMDUy" class="CToWUd"></td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
					</tbody>
				</table>

				<br class="m_8581014273424813518m_2526904782626651306table-separator" style="line-height:20px">

				<table id="m_8581014273424813518m_2526904782626651306footer" width="700" cellspacing="0" cellpadding="27" border="0" style="border-top:1px solid #c8c8c8">
					<tbody>
						<tr style="font-family:Arial,Helvetica,Verdana,sans-serif;font-size:10px">
							<td width="700" align="center" style="padding-bottom:0;margin-top:0;margin-bottom:0;color:#000000;line-height:1.36">
								<table class="m_8581014273424813518m_2526904782626651306text" width="600" cellspacing="0" cellpadding="0" border="0">
									<tbody>
										<tr style="font-family:Arial,Helvetica,Verdana,sans-serif;font-size:10px">
											<td align="center" width="600" style="margin-top:0;margin-bottom:0;color:#000000;line-height:1.36">
												<p style="margin-top:0;margin-bottom:0;color:#000000;line-height:1.36;padding-bottom:21px">
													<br>
													Note that you cannot reply to this email. If you want to&nbsp;
													<a style="color:#000000" href="http://www2.hm.com/en_gb/customer-service/contact.html" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=ru&amp;q=http://www2.hm.com/en_gb/customer-service/contact.html&amp;source=gmail&amp;ust=1495487387799000&amp;usg=AFQjCNFvoiI4MKtQ_g4FEJ4A-WRS_vpByA">contact us</a>
													,&nbsp;
please call us on 0344 736 9000&nbsp;
	(please check
													<a style="color:#000000" href="http://www2.hm.com/en_gb/customer-service/contact.html" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=ru&amp;q=http://www2.hm.com/en_gb/customer-service/contact.html&amp;source=gmail&amp;ust=1495487387799000&amp;usg=AFQjCNFvoiI4MKtQ_g4FEJ4A-WRS_vpByA">here</a>
													for information about call rates)&nbsp;
or send an email to&nbsp;
													<a style="color:#000000" href="mailto:customerservice.uk@hm.com" target="_blank">Customer Service</a>
													.&nbsp;
For more information on your orders, please log into&nbsp;
													<a style="color:#000000" href="http://www2.hm.com/en_gb//my-account" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=ru&amp;q=http://www2.hm.com/en_gb//my-account&amp;source=gmail&amp;ust=1495487387799000&amp;usg=AFQjCNH5I9K-Tvqkpk3tf7Do-1PyzUv_gA">My H&amp;M</a>
													. You always have 28 days to decide whether the item is right for you. The return fee is £0.00. For information on returns, please
													<a style="color:#000000" href="http://www2.hm.com/en_gb/customer-service/returns.html" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=ru&amp;q=http://www2.hm.com/en_gb/customer-service/returns.html&amp;source=gmail&amp;ust=1495487387799000&amp;usg=AFQjCNFN665uDQ68r20jat5DPXiPpeIPWw">read our return and refund policy</a>
													.&nbsp;
For more information, please read our&nbsp;
													<a style="color:#000000" href="http://www2.hm.com/en_gb/customer-service/legal-and-privacy/privacy-link.html" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=ru&amp;q=http://www2.hm.com/en_gb/customer-service/legal-and-privacy/privacy-link.html&amp;source=gmail&amp;ust=1495487387799000&amp;usg=AFQjCNFJQwiv96rLHXuf7PfyP3lXsuEb7A">Privacy policy</a>
													&nbsp;
and
													<a style="color:#000000" href="http://www2.hm.com/en_gb/customer-service/legal-and-privacy/terms-and-conditions.html" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=ru&amp;q=http://www2.hm.com/en_gb/customer-service/legal-and-privacy/terms-and-conditions.html&amp;source=gmail&amp;ust=1495487387799000&amp;usg=AFQjCNEf5REy79pBm4OEr4ablWymHVPl_A">terms and conditions</a>
													.
													<br>
													<br>
													Kind Regards, H&amp;M Customer Service
													<br>
													VAT number: GB243070692
													<br>
													Corporate identification number: 1413450
													<br>
													H&amp;M Hennes &amp; Mauritz UK Ltd.,&nbsp;1st Floor 25&nbsp;Argyll Street,&nbsp;W1F 7TS,&nbsp;London,&nbsp;United Kingdom,&nbsp;0344 736 9000&nbsp;
	(please check
													<a style="color:#000000" href="http://www2.hm.com/en_gb/customer-service/contact.html" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=ru&amp;q=http://www2.hm.com/en_gb/customer-service/contact.html&amp;source=gmail&amp;ust=1495487387799000&amp;usg=AFQjCNFvoiI4MKtQ_g4FEJ4A-WRS_vpByA">here</a>
													for information about call rates),&nbsp;
													<br>
													<a href="mailto:customerservice.uk@hm.com" target="_blank">customerservice.uk@hm.com</a>
													<br></p>
											</td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
	</tbody>
</table>
  </body>
</html>